@charset "UTF-8";

@font-face {
	font-family: nanum;
	src: url(../font/NanumGothic.eot);
	src: url("../font/NanumGothic.eot?#lefix") format("embaded-opentype");
	src: url("../font/NanumGothic.ttf") format("truetype");
	src: url("../font/NanumGothic.woff") format("woff");
}

* {
	font-family: 'Noto Sans KR', sans-serif;
}

a {
	color: #333333;
}

fieldset {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

button[type=submit] {
	width: 100%;
	margin-top: 25px;
}

h2 {
	font-weight: bold;
	font-size: 20px;
}

a {
	text-decoration: none;
}

.btn-secondary {
	margin-right: 10px;
}

.user {
	border: none;
	background-color: transparent;
	width: 100px;
	pointer-events: none;
}

.user:hover {
	background-color: transparent;
	cusor: default;
}

.btn-secondary a {
	color: #fff;
}

.wrap {
	margin-top: 50px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	margin-bottom: 50px;
}

.btn-primary {
	width: 77%;
	margin-top: 30px;
	margin-left: 150px;
}

.btn-primary a {
	color: #fff;
}

#tr_file_upload {
	display: none;
}

#tr_btn_modify {
	display: none;
}

#tr_btn button {
	margin-top: 15px;
}

#tr_btn button:first-child {
	margin-left: 150px;
}

#tr_btn_modify {
	width: 315%;
	margin-top: 15px;
}

#tr_btn_modify button {
	margin-left: 10px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.reply {
	width: 77%;
	margin-left: 150px;
}